In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

#导入数据，因为SK_ID_CURR没有含义，先删除
data = pd.read_csv('../Data/application_train.csv')
data = data.drop(columns=['SK_ID_CURR'])
data.head()

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [2]:
data.columns

Index(['TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR',
       'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT',
       'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=121)

In [3]:
#查看目标变量为空的行数
data['TARGET'].isnull().sum()
#data = data.dropna(axis=0, thresh=None, subset=["loan_status"])

0

In [4]:
instance_number = data.shape[0]
deleted_feature = []
#清洗缺省值高于50%的特征
for col in data.columns:
    if data[col].isnull().sum()/instance_number > 0.5:
        deleted_feature.append(col)
        data = data.drop(columns = [col])
        
print(deleted_feature)
data.head()

['OWN_CAR_AGE', 'EXT_SOURCE_1', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE']

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
#分离X和Y
X = data.drop(columns=['TARGET'])
Y = data['TARGET']

In [6]:
float_feature = []
int_feature = []
object_feature = []

for col in X.columns:
    if X[col].ftype == 'float64:dense':
        float_feature.append(col)
    elif X[col].ftype == 'int64:dense':
        int_feature.append(col)
    else:
        object_feature.append(col)
    
print(float_feature)
print(len(float_feature))
print()
print(int_feature)
print(len(int_feature))
print()
print(object_feature)
print(len(object_feature))

['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'REGION_POPULATION_RELATIVE', 'DAYS_REGISTRATION', 'CNT_FAM_MEMBERS', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'YEARS_BEGINEXPLUATATION_AVG', 'FLOORSMAX_AVG', 'YEARS_BEGINEXPLUATATION_MODE', 'FLOORSMAX_MODE', 'YEARS_BEGINEXPLUATATION_MEDI', 'FLOORSMAX_MEDI', 'TOTALAREA_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']
27

['CNT_CHILDREN', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_ID_PUBLISH', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21']
39

['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'EMERGENCYSTATE_MODE']
13

In [7]:
con_feature = float_feature
tmp = ['CNT_CHILDREN', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_ID_PUBLISH', 'HOUR_APPR_PROCESS_START']
con_feature.extend(tmp)

dis_feature = object_feature
dis_feature.extend(list(set(int_feature).difference(set(tmp))))

In [8]:
con_data = X[con_feature]
dis_data = X[dis_feature]

In [9]:
print('连续特征：', con_feature)
print('连续特征数目', con_data.shape[1])
print()
print('离散特征：', dis_feature)
print('离散特征数目', dis_data.shape[1])

连续特征： ['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'REGION_POPULATION_RELATIVE', 'DAYS_REGISTRATION', 'CNT_FAM_MEMBERS', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'YEARS_BEGINEXPLUATATION_AVG', 'FLOORSMAX_AVG', 'YEARS_BEGINEXPLUATATION_MODE', 'FLOORSMAX_MODE', 'YEARS_BEGINEXPLUATATION_MEDI', 'FLOORSMAX_MEDI', 'TOTALAREA_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR', 'CNT_CHILDREN', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_ID_PUBLISH', 'HOUR_APPR_PROCESS_START']
连续特征数目 32

离散特征： ['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'EMERGENCYSTATE_MODE', 'FLAG_EMP_PHONE', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_21', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_8', 'FLAG_MOBIL', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_2', 'FLAG_WORK_PHONE', 'LIVE_REGION_NOT_WORK_REGION', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_14', 'REGION_RATING_CLIENT_W_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'FLAG_DOCUMENT_20', 'FLAG_EMAIL', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_DOCUMENT_9', 'REG_REGION_NOT_WORK_REGION', 'FLAG_DOCUMENT_18', 'REG_CITY_NOT_WORK_CITY', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_12', 'REG_CITY_NOT_LIVE_CITY', 'FLAG_DOCUMENT_16', 'REG_REGION_NOT_LIVE_REGION', 'FLAG_DOCUMENT_5', 'REGION_RATING_CLIENT']
离散特征数目 47

In [10]:
#连续和离散特征的填充
for col in con_feature:
    con_data[col] = con_data[col].fillna(con_data[col].mean())

# con_data = con_data.fillna(0)
for col in dis_feature:
    dis_data[col] = dis_data[col].fillna(dis_data[col].mode()[0])

#连续数据的归一化
instance_number = con_data.shape[0]
for col in con_feature:
    max_ = con_data[col].max()
    min_ = con_data[col].min()
    diff = max_ - min_
    if diff:
        tmp = list(con_data[col])
        for j in range(instance_number):
            tmp[j] = (tmp[j]-min_)/diff
        con_data[col] = tmp
        
#离散特征当某特征出现的次数少于0.01时用出现最多的特征代替
'''
for col in dis_feature:
    for attr in dis_data[col].unique():
        if dis_data[dis_data[col]==attr].shape[0] < 0.01 * instance_number:
            dis_data[col] = dis_data[col].replace(attr,dis_data[col].mode()[0])

'''
# 离散特征的结构化
for col in dis_feature:
    map_dict = dict(zip(dis_data[col].unique(), range(len(dis_data[col].unique()))))
    dis_data[col] = dis_data[col].map(map_dict)
    
X = pd.concat([con_data, dis_data], axis=1)

In [11]:
result = pd.concat([X, Y], axis=1)
result.to_csv('../Data/result_0.csv', encoding='utf-8_sig', index=False)

In [12]:
dummpy_data = pd.DataFrame()
for col in X.columns:
    if X[col].ftype == 'int64:dense' and len(X[col].unique()) > 2:
        dummpy = pd.get_dummies(X[col])
        col_name = [col+'_'+str(i) for i in dummpy.columns]
        dummpy.columns = col_name
        for col_ in dummpy.columns:
            dummpy_data[col_] = dummpy[col_]
            
    else:
        dummpy_data[col] = X[col]
        
dummpy_data.shape

(307511, 192)

In [13]:
X = dummpy_data

In [14]:
for col in X.columns:
    if X[col].ftype == 'uint8:dense':
        X[col] = X[col].astype('int64')
        
con_feature = []
dis_feature = []
for col in X.columns:
    if X[col].ftype == 'int64:dense':
        dis_feature.append(col)
    else:
        con_feature.append(col)

con_data = X[con_feature]
dis_data = X[dis_feature]

In [15]:
print(con_data.shape)
print(dis_data.shape)

(307511, 32)
(307511, 160)

In [16]:
# 特征生成，主要问题内存不足，因此仅考虑对连续特征进行特征生成
from sklearn.preprocessing import PolynomialFeatures

tmp = PolynomialFeatures().fit_transform(con_data)
tmp = pd.DataFrame(tmp)
tmp.shape

(307511, 561)

In [17]:
col_name = ['1']
names = con_data.columns
types = []
for col in con_data.columns:
    col_name.append(col)
    if col in dis_feature:
        types.append('int')
    else:
        types.append('float')
        
for i in range(len(names)):
    for j in range(i, len(names)):
        col_name.append('{0}*{1}'.format(names[i], names[j]))
        if names[i] in dis_feature and names[j] in dis_feature:
            types.append('int')
        else:
            types.append('float')
        
len(col_name)

561

In [ ]:
tmp.columns=col_name
tmp = tmp.drop('1', axis=1)

con_data = tmp
con_feature = con_data.columns

In [19]:
instance_number = con_data.shape[0]
for col in con_feature:
    max_ = con_data[col].max()
    min_ = con_data[col].min()
    diff = max_ - min_
    if diff:
        tmp = list(con_data[col])
        for j in range(instance_number):
            tmp[j] = (tmp[j]-min_)/diff
        con_data[col] = tmp

X = pd.concat([con_data, dis_data], axis=1)
X.shape

(307511, 720)

In [ ]:
threshold = 0.6

corr_matrix = con_data.corr().abs()
corr_matrix.to_csv('../Data/corr_matrix.csv', encoding='utf-8_sig')

corr_matrix.head()

In [ ]:
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))
upper.head()

In [ ]:
to_drop = [column for column in upper.columns if any(upper[column] > threshold)]
to_drop

In [ ]:
len(to_drop)

In [ ]:
con_data = con_data.drop(columns=to_drop)
con_feature = con_data.columns
X = pd.concat([con_data, dis_data], axis=1)

result = pd.concat([X, Y], axis=1)
result.to_csv('../Data/result_1.csv', encoding='utf-8_sig', index=False)

X.head()

In [ ]:
print(len(con_feature))
print(len(dis_feature))

In [ ]:
import scipy.stats

In [ ]:
class Dis_chi2(object):
    def __init__(self, x1, x2):
        tmp_df = pd.concat([x1, x2], axis=1)
        result = []
        for i in tmp_df.iloc[:, 0].unique():
            tmp = []
            for j in tmp_df.iloc[:, 1].unique():
                tmp.append(tmp_df[(tmp_df.iloc[:, 0] == i) & (tmp_df.iloc[:, 1] == j)].shape[0])
            result.append(tmp)
        chi2, p, dof, ex = scipy.stats.chi2_contingency(result)
        self.chi2 = chi2
        self.result = result
        self.p = p

In [ ]:
dis_p_matrix = pd.DataFrame()

for col in dis_feature:
    print('col', col)
    tmp = []
    for col_ in dis_feature:
        dis_chi2 = Dis_chi2(dis_data[col], dis_data[col_])
        p = dis_chi2.p
        tmp.append(p)
    print('hello world!')
    dis_p_matrix[col] = tmp

In [ ]:
dis_p_matrix.index = dis_feature

In [ ]:
dis_p_matrix

In [ ]:
upper = dis_p_matrix.where(np.triu(np.ones(dis_p_matrix.shape), k=1).astype(np.bool))
upper

In [ ]:
threshold = -1.0
to_drop = [column for column in upper.columns if any(upper[column] < threshold)]
len(to_drop)

In [ ]:
dis_data = dis_data.drop(columns=to_drop)
dis_feature = dis_data.columns
X = pd.concat([con_data, dis_data], axis=1)

result = pd.concat([X, Y], axis=1)
result.to_csv('../Data/result_2.csv', encoding='utf-8_sig', index=False)

In [ ]:
print(len(con_feature))
print(len(dis_feature))
print(X.shape)
X.head()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

for i in range(len(con_feature)):
    plot_data = con_data.iloc[:, i]
    plt.hist(plot_data, bins=200)
    plt.title(con_data.iloc[:, i].name)
    plt.show()

In [ ]:
for i in range(len(dis_feature)):
    plot_data = dis_data.iloc[:, i]
    plt.hist(plot_data, bins=len(dis_data.iloc[:, i].unique()))
    plt.title(dis_data.iloc[:, i].name)
    plt.show()

In [ ]:
con_same_list = []
for col in con_feature:
    con_same_list.append(con_data[col].std())
con_std_df = pd.DataFrame({"feature":con_feature,"std":con_same_list})
con_std_df = con_std_df.sort_values(['std'])
con_std_df
#连续型数据归一化后的标准差

In [ ]:
#连续数据标准差直方图
plt.hist(con_same_list, bins=20)
plt.show()

In [ ]:
tmp_list = con_std_df[con_std_df['std'] > 0.05]['feature'].values
print(len(tmp_list))
print(tmp_list)
con_data = con_data[tmp_list]
con_feature = con_data.columns
X = pd.concat([con_data, dis_data], axis=1)

result = pd.concat([X, Y], axis=1)
result.to_csv('../Data/result_3.csv', encoding='utf-8_sig', index=False)
print(X.shape)
X.head()

In [ ]:
instance_number = dis_data.shape[0]
dis_same_list = []
for col in dis_feature:
    dis_same_list.append(dis_data[col].value_counts().to_frame().reset_index()[col][0]/instance_number)
    
dis_same_rate_df = pd.DataFrame({"feature":dis_feature,"same_rate":dis_same_list})
dis_same_rate_df = dis_same_rate_df.sort_values(['same_rate'])
dis_same_rate_df
#离散特征同值比

In [ ]:
tmp_list = dis_same_rate_df[dis_same_rate_df['same_rate'] < 0.95]['feature'].values
print(len(tmp_list))
print(tmp_list)
dis_data = dis_data[tmp_list]
dis_feature = dis_data.columns
X = pd.concat([con_data, dis_data], axis=1)

result = pd.concat([X, Y], axis=1)
result.to_csv('../Data/result_4.csv', encoding='utf-8_sig', index=False)
print(X.shape)
X.head()

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.3)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

#n_estimators: 决策树的数量，max_depth: 树的最大深度, criterion: 选择分裂特征的标准 可选'entropy','gini'
rf = RandomForestClassifier(n_estimators=500, max_depth=10, random_state=0, verbose=1, criterion='gini')
rf.fit(x_train,y_train)

In [ ]:
importance = pd.DataFrame({'features':x_train.columns.values,'importance':rf.feature_importances_})
importance_result_sim = importance.sort_values(by='importance',ascending=True).style.bar()

importance_result_sim

In [ ]:
selected_feature = importance[importance['importance'] > 0.01]['features'].values

In [ ]:
con_feature = list(set(con_feature).intersection(set(selected_feature)))
dis_feature = list(set(dis_feature).intersection(set(selected_feature)))

con_data = con_data[con_feature]
dis_data = dis_data[dis_feature]
X = pd.concat([con_data, dis_data], axis=1)

result = pd.concat([X, Y], axis=1)
result.to_csv('../Data/result_5.csv', encoding='utf-8_sig', index=False)

In [ ]:
p_list = []
for col in dis_feature:
    dis_chi2 = Dis_chi2(dis_data[col], Y)
    p_list.append(dis_chi2.p)

chi2 = pd.DataFrame({'feature':dis_feature, 'p':p_list})
chi2

In [ ]:
chi2.sort_values('p')

In [ ]:
selected_feature = chi2[chi2['p'] < 0.01]['feature'].values
dis_feature = list(set(dis_feature).intersection(set(selected_feature)))

dis_data = dis_data[dis_feature]
X = pd.concat([con_data, dis_data], axis=1)

result = pd.concat([X, Y], axis=1)
result.to_csv('../Data/result_6.csv', encoding='utf-8_sig', index=False)
len(dis_feature)

In [ ]:
con_feature

In [ ]:
X.shape

In [ ]:
from sklearn.preprocessing import PolynomialFeatures

tmp = PolynomialFeatures().fit_transform(X)
tmp = pd.DataFrame(tmp)
tmp.shape

In [ ]:
X.shape

In [ ]:
tmp.head()

In [ ]:
col_name = ['1']
names = X.columns
types = []
for col in X.columns:
    col_name.append(col)
    if col in dis_feature:
        types.append('int')
    else:
        types.append('float')
        
for i in range(len(names)):
    for j in range(i, len(names)):
        col_name.append('{0}*{1}'.format(names[i], names[j]))
        if names[i] in dis_feature or names[j] in dis_feature:
            types.append('int')
        else:
            types.append('float')
        
len(col_name)

In [ ]:
tmp.columns = col_name
tmp = tmp.drop('1', axis=1)

In [ ]:
X = tmp
X