In [3]:
import pandas as pd

installments_dfs = pd.read_csv('../Data/installments_payments_dfs.csv')
print(installments_dfs.shape)
installments_dfs.head()

(997752, 24)

,SK_ID_PREV,installments_count,installments_NUM_INSTALMENT_NUMBER_min,installments_NUM_INSTALMENT_NUMBER_max,installments_NUM_INSTALMENT_VERSION_min,installments_NUM_INSTALMENT_VERSION_max,installments_NUM_INSTALMENT_VERSION_mean,installments_NUM_INSTALMENT_VERSION_std,installments_DAYS_INSTALMENT_min,installments_DAYS_INSTALMENT_max,...,installments_DAYS_ENTRY_PAYMENT_mean,installments_DAYS_ENTRY_PAYMENT_std,installments_AMT_INSTALMENT_min,installments_AMT_INSTALMENT_max,installments_AMT_INSTALMENT_mean,installments_AMT_INSTALMENT_std,installments_AMT_PAYMENT_min,installments_AMT_PAYMENT_max,installments_AMT_PAYMENT_mean,installments_AMT_PAYMENT_std
0,1369693,4,1,4,1.0,2.0,1.250000,0.500000,-1709.0,-1619.0,...,-1679.500000,43.023250,3951.000,17397.900,7312.725000,6723.450000,3951.000,17397.900,7312.725000,6723.450000
1,1851984,3,2,4,1.0,1.0,1.000000,0.000000,-2916.0,-2856.0,...,-2882.333333,30.664855,3980.925,3982.050,3981.675000,0.649519,3980.925,3982.050,3981.675000,0.649519
2,1038818,19,1,19,1.0,2.0,1.052632,0.229416,-565.0,-25.0,...,-315.421053,172.058877,9251.775,53093.745,11559.247105,10058.037722,9251.775,53093.745,11559.247105,10058.037722
3,1810518,7,1,7,1.0,2.0,1.142857,0.377964,-716.0,-536.0,...,-630.428571,63.741293,98356.995,560835.360,164425.332857,174800.391505,98356.995,560835.360,164425.332857,174800.391505
4,2396755,12,1,12,1.0,1.0,1.000000,0.000000,-2310.0,-1980.0,...,-2151.750000,111.245940,6662.970,6737.310,6731.115000,21.460110,6662.970,6737.310,6731.115000,21.460110

In [7]:
cash_dfs = pd.read_csv('../Data/POS_CASH_balance_dfs.csv')
print(cash_dfs.shape)
cash_dfs.head()

(936325, 25)

,SK_ID_PREV,cash_count,cash_NAME_CONTRACT_STATUS_Completed,cash_NAME_CONTRACT_STATUS_Active,cash_NAME_CONTRACT_STATUS_Signed,cash_NAME_CONTRACT_STATUS_Returned to the store,cash_NAME_CONTRACT_STATUS_Approved,cash_NAME_CONTRACT_STATUS_Demand,cash_NAME_CONTRACT_STATUS_Amortized debt,cash_NAME_CONTRACT_STATUS_Canceled,...,cash_SK_DPD_DEF_min,cash_SK_DPD_DEF_max,cash_CNT_INSTALMENT_min,cash_CNT_INSTALMENT_max,cash_CNT_INSTALMENT_mean,cash_CNT_INSTALMENT_std,cash_CNT_INSTALMENT_FUTURE_min,cash_CNT_INSTALMENT_FUTURE_max,cash_CNT_INSTALMENT_FUTURE_mean,cash_CNT_INSTALMENT_FUTURE_std
0,1369693,5,0.200,0.800,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,4.0,4.0,4.000,0.000000,0.0,4.0,2.000,1.581139
1,1851984,4,0.250,0.750,0.0,0.0,0.0,0.0,0.0,0.0,...,0,7,4.0,4.0,4.000,0.000000,0.0,2.0,0.750,0.957427
2,1038818,19,0.000,1.000,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,24.0,24.0,24.000,0.000000,6.0,24.0,15.000,5.627314
3,1810518,8,0.125,0.875,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,7.0,12.0,11.375,1.767767,0.0,12.0,7.875,3.758324
4,2396755,12,0.000,1.000,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,12.0,12.0,12.000,0.000000,1.0,12.0,6.500,3.605551

In [8]:
credit_dfs = pd.read_csv('../Data/credit_card_balance_dfs.csv')
print(credit_dfs.shape)
credit_dfs.head()

(104307, 79)

,SK_ID_PREV,credit_count,credit_NAME_CONTRACT_STATUS_Active,credit_NAME_CONTRACT_STATUS_Completed,credit_NAME_CONTRACT_STATUS_Signed,credit_NAME_CONTRACT_STATUS_Sent proposal,credit_NAME_CONTRACT_STATUS_Refused,credit_NAME_CONTRACT_STATUS_Demand,credit_NAME_CONTRACT_STATUS_Approved,credit_MONTHS_BALANCE_min,...,credit_CNT_DRAWINGS_OTHER_CURRENT_mean,credit_CNT_DRAWINGS_OTHER_CURRENT_std,credit_CNT_DRAWINGS_POS_CURRENT_min,credit_CNT_DRAWINGS_POS_CURRENT_max,credit_CNT_DRAWINGS_POS_CURRENT_mean,credit_CNT_DRAWINGS_POS_CURRENT_std,credit_CNT_INSTALMENT_MATURE_CUM_min,credit_CNT_INSTALMENT_MATURE_CUM_max,credit_CNT_INSTALMENT_MATURE_CUM_mean,credit_CNT_INSTALMENT_MATURE_CUM_std
0,1489396,6,1.000000,0.000000,0.0,0.0,0.0,0.0,0.0,-6,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.000000,0.000000
1,1843384,74,1.000000,0.000000,0.0,0.0,0.0,0.0,0.0,-75,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,33.0,25.767123,10.288236
2,2038692,96,1.000000,0.000000,0.0,0.0,0.0,0.0,0.0,-96,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,22.0,18.719101,5.852328
3,2594025,17,0.411765,0.588235,0.0,0.0,0.0,0.0,0.0,-18,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.000000,0.000000
4,1499902,8,1.000000,0.000000,0.0,0.0,0.0,0.0,0.0,-11,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.000000,0.000000

In [9]:
pre_app = pd.read_csv('../Data/previous_application.csv')
print(pre_app.shape)
pre_app.head()

(1670214, 37)

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
pre_app_merged = pd.merge(pre_app, installments_dfs, how='left')
pre_app_merged = pd.merge(pre_app_merged, cash_dfs, how='left')
pre_app_merged = pd.merge(pre_app_merged, credit_dfs, how='left')
pre_app_merged.shape

(1670214, 162)

In [16]:
pre_app_merged.to_csv('../Data/pre_app_merged.csv', index=False, encoding='utf-8_sig')